<% provide(:title, 'Home') %>
<div id="head">
  <div class="row full_width">
    <div class="header_home">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="large-12 columns text-center">
      <h1 class="uppercase text-jumbo">Encuentra tu candidato ideal</h1>
      <h4 class="text-center strong">Busca, selecciona y oferta. La manera correcta de encontrar a la persona ideal</h4>
    </div>
  </div>
  <div class="header-form">
    <form action="home_submit" method="get" accept-charset="utf-8">
      <div class="row">
        <div class="large-4 columns reduce-padding">
          <input type="text" name="some_name" value="" id="some_name" placeholder="Area de trabajo?">
        </div>
        <div class="large-4 columns reduce-padding">
          <input type="text" name="some_name" value="" id="some_name" placeholder="Ciudad del trabajo?">
        </div>
        <div class="large-4 columns reduce-padding">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" name="some_name" value="" id="some_name" placeholder="Experiencia (meses, años)?">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix">Buscar</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row inner pos_rel">
  <div class="large-12 columns text-center smargin smargin-top">
    <h2>¿Cómo funciona para el candidato?</h2>
    <h4 class="slim secondary">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </h4>
  </div>
  <div class="down-triangle"></div>
</div>

<div id="employee">
  <div class="row">
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_people.png" alt="You" class="smargin"</img>
      <h4 clas="slim">Inscribite</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_cv.png" alt="Curriculum vitae" class="smargin"</img>
      <h4 clas="slim">Sube tu hoja de vida</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_contact.png" alt="Get in contact" class="smargin"</img>
      <h4 clas="slim">Espera el contacto</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_dream_job.png" alt="Dream Job" class="smargin"</img>
      <h4 clas="slim">Disfruta tu trabajo!</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-7 columns fix_top_ee">
      <h3 class="slim">Ellos te <em>encuentran!</em></h3>
      <p class="secondary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>   
    </div>
    <div class="large-5 columns">
      <img src="/assets/_set_stats.png" alt="Estadisticas"</img>
    </div>
  </div>
</div>

<div class="row inner pos_rel">
  <div class="large-12 columns text-center smargin smargin-top">
    <h2>¿Cómo funciona para el empleador?</h2>
    <h4 class="slim secondary">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </h4>
  </div>
  <div class="down-triangle"></div>
</div>

<div id="employer">
  <div class="row">
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_company.png" alt="You" class="smargin"</img>
      <h4 clas="slim">Inscribe tu empresa</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_search.png" alt="Curriculum vitae" class="smargin"</img>
      <h4 clas="slim">Busca tu candidato</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_basket.png" alt="Get in contact" class="smargin"</img>
      <h4 clas="slim">Haz el contacto</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_check.png" alt="Dream Job" class="smargin"</img>
      <h4 clas="slim">Contratalo!</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-7 columns fix_top_ey">
      <h3 class="slim">Tu los <em>encuentras!</em></h3>
      <p class="secondary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>   
    </div>
    <div class="large-5 columns">
      <img src="/assets/_set_tach.png" alt="Tachometer"</img>
    </div>
  </div>
</div>

<div class="row inner pos_rel">
  <div class="large-12 columns text-center smargin smargin-top">
    <h2>Informacion de contacto</h2>
    <h4 class="slim secondary">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </h4>
  </div>
</div>

<div id="home-footer">
  <div class="row inner">
    <div class="large-12 columns smargin-top footer-list">
      <ul>
        <li class="name"><a href="#">Acerca de nosotros</a></li>
        <li class="name"><a href="#">Contactanos</a></li>
        <li class="name"><a href="#">Terminos y condiciones</a></li>
      </ul>
    </div>
  </div>
</div>