<% provide(:title, 'Inicio') %>
<%# Como funciona (candidato) %>
<div class="row inner pos_rel">
  <div class="large-12 columns text-center smargin smargin-top">
    <h2>¿Cómo funciona para el candidato?</h2>
    <h4 class="slim secondary">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </h4>
  </div>
  <div class="down-triangle"></div>
</div>

<div id="employee">
  <div class="row">
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_people.png" alt="You" class="smargin"</img>
      <h4 clas="slim">Inscribite</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_cv.png" alt="Curriculum vitae" class="smargin"</img>
      <h4 clas="slim">Sube tu hoja de vida</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_contact.png" alt="Get in contact" class="smargin"</img>
      <h4 clas="slim">Espera el contacto</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_dream_job.png" alt="Dream Job" class="smargin"</img>
      <h4 clas="slim">Disfruta tu trabajo!</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-7 columns fix_top_ee">
      <h3 class="slim">Ellos te <em>encuentran!</em></h3>
      <p class="secondary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>   
    </div>
    <div class="large-5 columns">
      <img src="/assets/_set_stats.png" alt="Estadisticas"</img>
    </div>
  </div>
</div>
<%# Como funciona (empleador) %>
<div class="row inner pos_rel">
  <div class="large-12 columns text-center smargin smargin-top">
    <h2>¿Cómo funciona para el empleador?</h2>
    <h4 class="slim secondary">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </h4>
  </div>
  <div class="down-triangle"></div>
</div>

<div id="employer">
  <div class="row">
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_company.png" alt="You" class="smargin"</img>
      <h4 clas="slim">Inscribe tu empresa</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_search.png" alt="Curriculum vitae" class="smargin"</img>
      <h4 clas="slim">Busca tu candidato</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_basket.png" alt="Get in contact" class="smargin"</img>
      <h4 clas="slim">Haz el contacto</h4>
    </div>
    <div class="large-3 columns mmargin mmargin-top text-center">
      <img src="/assets/icons/_icon_check.png" alt="Dream Job" class="smargin"</img>
      <h4 clas="slim">Contratalo!</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-7 columns fix_top_ey">
      <h3 class="slim">Tu los <em>encuentras!</em></h3>
      <p class="secondary">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>   
    </div>
    <div class="large-5 columns">
      <img src="/assets/_set_tach.png" alt="Tachometer"</img>
    </div>
  </div>
</div>
<%# Informacion de contacto %>
<div class="row inner pos_rel">
  <div class="large-12 columns text-center smargin smargin-top">
    <h2>Informacion de contacto</h2>
    <h4 class="slim secondary">
      "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    </h4>
  </div>
</div>