<div id="head">
  <div class="row full_width">
    <div class="header_home">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="large-12 columns text-center">
      <h1 class="uppercase text-jumbo">Encuentra tu candidato ideal</h1>
      <h4 class="text-center strong">Busca, selecciona y oferta. La manera correcta de encontrar a la persona ideal</h4>
    </div>
  </div>
  <div class="header-form">
    <form action="home_submit" method="get" accept-charset="utf-8">
      <div class="row">
        <div class="large-4 columns reduce-padding">
          <input type="text" name="some_name" value="" id="some_name" placeholder="Area de trabajo?">
        </div>
        <div class="large-4 columns reduce-padding">
          <input type="text" name="some_name" value="" id="some_name" placeholder="Ciudad del trabajo?">
        </div>
        <div class="large-4 columns reduce-padding">
          <div class="row collapse">
            <div class="small-10 columns">
              <input type="text" name="some_name" value="" id="some_name" placeholder="Experiencia (meses, años)?">
            </div>
            <div class="small-2 columns">
              <a href="#" class="button postfix">Buscar</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <%= render 'layouts/modals/signin_modal' %>
</div>
