<div id="siginModal" class="reveal-modal" data-reveal>
	<h2>Bienvenido</h2>
	<p class="lead">Inscribete!, solo debes subir tu hoja de vida en cualquier formato</p>
	<p>Hola!</p>
	<a class="close-reveal-modal">&#215;</a>
</div>