<div class="row">
  <div class="large-3 small-3 columns">
    <h2 id="name">soyo</h2>
  </div>
  <div class="large-9 large-9 columns">
    <nav class="right">
      <ul class="inline-list">
        <li><a href="#">Regístrate</a></li>
        <li><a href="#">Inicia sesión</a></li>
        <li><a href="#">Ayuda</a></li>
        <li class="header-button-padding"><a class="button small radius secondary own-color-font" href="#">Sube tu hoja de vida</a></li>
      </ul>
    </nav>
  </div>
</div>