<div class="row">
  <div class="large-3 small-3 columns">
    <h2 id="name">Soyo</h2>
  </div>
  <div class="large-9 large-9 columns">
    <nav class="right">
      <ul class="inline-list">
        <li>Regístrate</li>
        <li>Inicia sesión</li>
        <li>Ayuda</li>
        <li>Soyo!</li>
      </ul>
    </nav>
  </div>
</div>